<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head', {title: "Editar producto"}) %>

<body class="body body--createProduct body--registro-login">
    
    <%- include('../partials/header')  %> 

    <main class="main">
        <form action="/products/edit/<%= productToEdit.id %>?_method=PUT" method="POST" class="formCreateProduct animate__animated animate__fadeInDown" enctype="multipart/form-data">
            <ul class="erroresRegistro-ul" id="errorEditProductUl"></ul>
            <div class="form__seccion-nombre">
                <h5 class="form__seccion-h5">Nombre del producto:</h5>
                <input type="text" class="input__create-product" name="nombre" id= "nombre_editar_producto" placeholder="Nombre del producto..." value= "<%= productToEdit.name_game%>">
            </div>
            
            <div class="form__seccion-descripcion">
                <h5 class="form__seccion-h5">Descripción del producto:</h5>
                <textarea class="input__create-product" name="descripcion" id= "descripcion_editar_producto" placeholder="Descripción del producto..." cols="30" rows="5" required><%= productToEdit.description %></textarea>
            </div>

            <div class="form__seccion-img">
                <h5 class="form__seccion-h5">Inserta una imagen:</h5>
                <input type="file" class="input__create-product" id= "imagen_editar_producto" accept=".png, .jpg" multiple name="imagen">
            </div>

            <div class="form__seccion-categoria">
                <h5 class="form__seccion-h5">Selecciona un género:</h5>
                <select class="input__create-product" name="genero">
                    <option value="1" <% if (productToEdit.genres_id == 1) { %> selected <% } %>>Acción</option>
                    <option value="2" <% if (productToEdit.genres_id == 2) { %> selected <% } %>>Aventura</option>
                    <option value="3" <% if (productToEdit.genres_id == 3) { %> selected <% } %>>FPS</option>
                    <option value="4" <% if (productToEdit.genres_id == 4) { %> selected <% } %>>Estrategia</option>
                    <option value="5" <% if (productToEdit.genres_id == 5) { %> selected <% } %>>Deportes</option>
                </select>
            </div>

            <div class="form__seccion-edicion">
                <h5 class="form__seccion-h5">Selecciona una edición:</h5>
                <select class="input__create-product" name="edicion">
                    <option value="1" <% if (productToEdit.editions_id == 1) { %> selected <% } %>>Estándar</option>
                    <option value="2" <% if (productToEdit.editions_id == 2) { %> selected <% } %>>Deluxe</option>
                    <option value="3" <% if (productToEdit.editions_id == 3) { %> selected <% } %>>Gold</option>
                </select>
            </div>

            <div class="form__seccion-precio">
                <h5 class="form__seccion-h5">Escribe un precio:</h5>
                <input type="text" class="input__create-product" name="precio" value= "<%= productToEdit.price %>">
            </div>

            <div class="form__seccion-inputCrear">
                <input type="submit" class="boton-enviar-producto" value="Editar Producto">
            </div>
        </form>
    </main> 

    <%- include ('../partials/footer') %>
    <script src="../../../public/js/validations/editProductJS.js"></script>
</body>
</html>