<!DOCTYPE html>
<html lang="es">
    <%- include ('../partials/head', {title: "Productos"}) %> 
<body class="body">
    <%- include('../partials/header')  %> 

    <main class="main main--index">
        <section class="section-sec">
            <h3 class="section-sec__titulo">Todos nuestros productos</h3>

            <div class="section-sec__cont-arts">

                <% productos.forEach(element => { %>
                    <article class="section-sec__arts">

                        <div class="section-sec__cont-picture-star">
                            <picture class="section-sec__picture">
                                <img src="../images/juegos/<%= element.images[0].img_url %>" alt="El juego es <%= element.name_game %>" class="section-sec__imgs">
                            </picture>
                            <div class="section-sec__cont-star">
                                <i class="fas fa-star section-sec__star"></i>
                            </div>
                        </div>

                        <div class="section-sec__cont-datos">
                            <span class="section-sec__spans"><a href="/products/detail/<%= element.id %>" class="section-sec__titulo-enlace"><%= element.name_game %></a></span>
                            <span class="section-sec__spans">$ <%= element.price %></span>
                            <span class="button-carrito">Añadir al carrito</span>
                        </div>

                        
                    </article>
                <% }) %>        
            </div>
        </section>
    </main>

    <%- include ('../partials/footer') %> 
</body>
    
</html>